<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#MEOverViewAccordion" href="#AgentsAccordion">
        <h4>
            <i class="accordion-indicator"></i>
            Assigned Agents
        </h4>
    </a>
</div>
<div id="AgentsAccordion" class="accordion-body collapse in">
    <div class="accordion-inner">
        <div id="agents" class="row-fluid">
            <div class="span12">
                <div class="control-group">

                    <div class="controls agents-container">

                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary clear-fix js-overview-modal">Assign Agent</button>
    </div>
</div>
