<h2>Brand</h2>
<p class="lead">Branding information for your Master App and its appearance on your mobile platforms.</p>
<div id="MEOverViewAccordion" class="accordion">
    <div id="ColoursRegion"></div>
</div>
<div class="well clearfix">
    <a href="#" class="pull-left btn btn-primary-qs js-submit">Save</a>
    <a href="#" class="pull-left btn btn-link js-reset">Cancel</a>
</div>
