<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#MEOverViewAccordion" href="#QEConfigAccordion">
        <h4>
            <i class="accordion-indicator"></i>
            QuickEvent Feature Configuration
        </h4>
    </a>
</div>
<div id="QEConfigAccordion" class="accordion-body collapse in">
    <div class="accordion-inner">
        <div id="colours" class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <p>Select and configure the components that you would like to have available to use when QuickEvents are created for this project. Default configurations can be overwritten at the Quick Event level.</p>
                </div>
                <div id="QEStandardRegion"></div>
                <div id="QECustomRegion"></div>
            </div>
        </div>
    </div>
</div>
