
<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#MEOverViewAccordion" href="#DetailsAccordion">
        <h4>
            <i class="accordion-indicator"></i>
            Project Details
        </h4>
    </a>
</div>
<div id="DetailsAccordion" class="accordion-body collapse in">
    <div class="accordion-inner">
        <div class="row-fluid">
            <div class="span4">
                <p class="zebra"><strong>Project Status:</strong><span class="pull-right">{{status}}</span></p>
                <p><strong>Expiry Date:</strong><span class="pull-right">{{expiryDate}}</span></p>
                <p class="zebra"><strong>QuickEvents:</strong><span class="pull-right">{{quickEvents}} of {{maxQEPermitted}} used</span></p>
            </div>
            </div>
        </div>
    </div>
</div>
