<h2>Master App Details</h2>
<p class="lead">General information about your mobile_event Master App</p>
<div id="MEOverViewAccordion" class="accordion">
    <div id="DetailsRegion"></div>
    <div id="LanguageRegion"></div>
    <div id="PlatformsRegion"></div>
    <div id="AgentsRegion"></div>
    <div id="StaffRegion"></div>
</div>
