<h2>Features</h2>
<p class="lead">Configure standard and custom features for both your Master App and QuickEvents.</p>
<div id="MEOverViewAccordion" class="accordion">
    <div id="MAConfigRegion"></div>
    <div id="QEConfigRegion"></div>
</div>
