<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2>Download Links</h2>
    <p>Provide links for each platform where the app can be downloaded. The links should point to the App Store, Google Play or where you host your app.</p>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <h3>Unsupported Devices</h3>
        <p>If a particular mobile device is not supported, enter the link of a page that will offer more information. This page is created/maintained outside of the QuickMobile Platform (QP).</p>
        <div class="control-group">
            <label for="regretsUrl" class="control-label">Unsupported Link</label>
            <div class="controls">
                <input name="url" id="Platforms-url" class="text ui-widget-content ui-corner-all" value="{{url}}" type="text">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="pull-left btn btn-primary-qs js-submit">Save changes</a>
    <a href="#" class="pull-left btn btn-link">Close</a>
</div>
