<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#MEOverViewAccordion" href="#StaffAccordion">
        <h4>
            <i class="accordion-indicator"></i>
            Assigned Staff
        </h4>
    </a>
</div>
<div id="StaffAccordion" class="accordion-body collapse in">
    <div class="accordion-inner">
        <div id="agents" class="row-fluid">
            <div class="span12">
                <div class="control-group">

                    <div class="controls assignedstaff-container">

                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary clear-fix js-overview-modal">Assign Staff</button>
    </div>
</div>
